
h3 {
  font-size: 50px;
  font-family: monospace;
background-color: pink;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p1 {
  font-size: 20px;
  font-family: monospace;
}
img {
  width: auto;
  height: auto;
  border-radius: 5px;
}

div.another_section {
  background-color: lightblue;
  width: auto;
  font-family: sans-serif;
}

div.third_section {
  background-color: lightgreen;
  font-style: normal;

}
